<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/spotify_icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300&family=Roboto:wght@500&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>
    <script src="/js/jQuery.js"></script>
    <script src="//naver.github.io/egjs-jquery-pauseresume/release/latest/dist/pauseresume.js"></script>
    <title>Spotify Clone</title>
</head>

<body>


    <main id="homepage">
        <div id="background_red"></div>
        <div id="background_dark-violet"></div>
        <div id="background_violet"></div>
        <div id="background_yellow"></div>
        <div id="background_gray"></div>
        <div id="background_orange"></div>
        <div id="background_green"></div>
        <div id="background_default"></div>

        <h1 style="display: none;" id="token">
            <%= access_token %>
        </h1>

        <h2 id="greeting">Good Evening</h2>
        <section id="grid">
            <div class="topdiv" id="0">
                <img src="" alt="" class="topimg">
                <h5></h5>
                <img src="/icon.png" alt="" class="topicon" id="0">
            </div>
            <div class="topdiv" id="1">
                <img src="" alt="" class="topimg">
                <h5></h5>
                <img src="/icon.png" alt="" class="topicon" id="1">
            </div>
            <div class="topdiv" id="2">
                <img src="" alt="" class="topimg">
                <h5></h5>
                <img src="/icon.png" alt="" class="topicon" id="2">
            </div>
            <div class="topdiv" id="3">
                <img src="" alt="" class="topimg">
                <h5></h5>
                <img src="/icon.png" alt="" class="topicon" id="3">
            </div>
            <div class="topdiv" id="4">
                <img src="" alt="" class="topimg">
                <h5></h5>
                <img src="/icon.png" alt="" class="topicon" id="4">
            </div>
            <div class="topdiv" id="5">
                <img src="" alt="" class="topimg">
                <h5></h5>
                <img src="/icon.png" alt="" class="topicon" id="5">
            </div>
        </section>

        <h2 style="margin-top: 50px;">Favourite Artists</h2>
        <section id="artists">
            <div class="card" id="card1">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon1">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card2">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon2">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card3">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon3">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card4">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon4">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card5">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon5">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card6">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon6">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </section>

        <h2 style="margin-top: 50px;" id="top_by_heading"></h2>
        <section id="top_by">
            <div class="card" id="card1">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon1">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card2">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon2">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card3">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon3">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card4">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon4">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card5">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon5">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card6">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon6">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </section>


        <h2 style="margin-top: 50px;" id="like_heading"></h2>
        <section id="like">
            <div class="card" id="card1">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon1">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card2">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon2">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card3">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon3">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card4">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon4">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card5">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon5">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card6">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon6">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </section>

        <h2 style="margin-top: 50px;">Featured Playlists</h2>
        <section id="featured">
            <div class="card" id="card1">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon1">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card2">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon2">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card3">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon3">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card4">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon4">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card5">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon5">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="card" id="card6">
                <img src="" class="card-img-top">
                <img src="/icon.png" alt="" class="cardicon" id="cardicon6">
                <div class="card-body">
                    <h4 class="cardHeading"></h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </section>
    </main>


    <main id="playlist_page" style="display: none;">
        <div id="nav_controls">
            <img src="/back.png" id="back_btn">
        </div>
        <div id="background"></div>
        <section id="info">
            <img src="" id="topimg">
            <div id="album_info">
                <p id="album"></p>
                <h1 id="album_head"></h1>
                <div id="small_det">
                    <p id="album_det"><span id="artist_name"></span> &middot; <span id="year"></span> &middot; <span
                            id="num"></span></p>
                    <!-- <p id="playlist_des"></p> -->
                </div>
            </div>
        </section>

        <section id="list">
            <div id="list_head">
                <div id="nu">#</div>
                <div id="tit">TITLE</div>
                <!-- <div id="alb">ALBUM</div> -->
                <div id="dur">DURATION</div>
            </div>

            <div style="margin-top: 20px;" id="list_cont">
            </div>

        </section>
    </main>

    <main id="album_page" style="display: none;">
        <div id="nav_controls">
            <img src="/back.png" id="back_btn">
        </div>
        <div id="background"></div>
        <section id="info">
            <img src="" id="topimg">
            <div id="album_info">
                <p id="album"></p>
                <h1 id="album_head"></h1>
                <div id="small_det">
                    <p id="playlist_des"></p>
                </div>
            </div>
        </section>

        <section id="list">
            <div id="list_head">
                <div id="nu">#</div>
                <div id="tit1">TITLE</div>
                <div id="alb">ALBUM</div>
                <div id="dur">DURATION</div>
            </div>

            <div style="margin-top: 20px;" id="list_cont">
            </div>
        </section>
    </main>

    <main id="liked_page" style="display: none;">
        <div id="nav_controls">
            <img src="/back.png" id="back_btn">
        </div>
        <div id="background"></div>
        <section id="info">
            <img src="" id="topimg">
            <div id="album_info">
                <p id="album"></p>
                <h1 id="album_head"></h1>
                <div id="small_det">
                    <p id="playlist_des"></p>
                </div>
            </div>
        </section>

        <section id="list">
            <div id="list_head">
                <div id="nu">#</div>
                <div id="tit1">TITLE</div>
                <div id="alb">ALBUM</div>
                <div id="dur">DURATION</div>
            </div>

            <div style="margin-top: 20px;" id="list_cont">
            </div>
        </section>
    </main>




    <main id="lib_page" style="display: none;">

        <div id="nav_controls">
            <img src="/back.png" id="back_btn">
        </div>

        <h1 style="color: white; font-size: 3rem;">Library</h1>
        <section id="lib_grid">
            <!-- <div class="lib_card" id="liked_card">
                <img src="/icon.png" alt="" class="liked_cardicon">
                <div id="liked_list"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, doloribus unde saepe dignissimos aperiam quam, minima qui, ea possimus eum magni soluta molestiae. Ducimus, vitae non laborum perferendis maiores voluptates?</p></div>
                <div class="liked_card_body">
                    <h4 class="liked_cardHeading">Liked Songs</h4>
                    <p class="liked_card_text">50 liked Songs</p>
                </div>
            </div> -->
            <!-- <div class="lib_card">
                <img src="" class="lib_card_img_top">
                <img src="/icon.png" alt="" class="lib_cardicon">
                <div class="lib_card_body">
                    <h4 class="lib_cardHeading">abcd</h4>
                    <p class="lib_card_text">wsedcsd ecfeasasasasas dfcds ecedwcwa</p>
                </div>
            </div> -->
        </section>
    </main>


    <main id="search_page" style="display: none;">

        <div id="nav_controls" style="display:block;opacity:100;">
            <img src="/back.png" id="back_btn">
        </div>

        <div id="search-topbar">
            <div id="span1">
                <h2>Top result</h2>
                <div id="to_clear"></div>

            </div>
            <div id="span2">
                <h2>Songs</h2>
                <div id="search-tracks">


                </div>
            </div>
        </div>


        <h2 class="search-headings" style="margin-top: 50px;">Artists</h2>
        <div id="artistss">

        </div>

        <h2 class="search-headings" style="margin-top: 50px;">Albums</h2>
        <div id="Albums">


        </div>

        <h2 class="search-headings" style="margin-top: 50px;">PlayList</h2>
        <div id="playlists">

        </div>

    </main>



    <aside>
        <div class="spotify-icons"><img
                src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png"></div>
        <ul>
            <li class="aside-list-items" id="home_btn"><img src="/home.png" alt="home"><span>Home</span></li>
            <li class="aside-list-items" style="position: relative;"><img src="/search.png" alt="home" height=7%
                    width="15%"><span id="ser_span">Search</span>
                <div class="searchbar">
                    <input type="text" placeholder="Search" name="search" id="search" class="def">
                    <!-- <button>Search</button> -->
                </div>
            </li>
            <li class="aside-list-items" id="lib_open_btn"><img src="/lib.png" alt="home" height=7% width="15%"><span>
                    Your Library</span></li>
        </ul>
        <ul style="margin-top: 35px;" id="ul_bot">
            <!-- <li class="aside-list-items"><img src="/create.png" alt="home" height=7% width="15%"><span>Create
                    Playlist</span></li> -->
            <li class="aside-list-items" id="like_btn"><img src="/liked.png" alt="home" height=7%
                    width="15%"><span>Liked Songs</span>
            </li>
        </ul>
    </aside>

    <div id="side">
        <ul>
            <!-- <li>abcd</li> -->
        </ul>
    </div>


    <footer class="footer">
        <img src="" alt="" id="curr_song_img">

        <div class="curr_song_name">
            <p id="song_name"></p>
            <p id="singer_name"></p>
        </div>

        <div class="playcontrols">
            <img src="/pause.png" alt="" id="pause_btn">
            <img src="/play.png" alt="" id="play_btn">
            <img src="/next.png" alt="" id="next_btn">
            <img src="/prev.png" alt="" id="prev_btn">

            <p id="start_time"><span id="minutes">00</span>:<span id="seconds">00</span></p>
            <div id="for_hover">
                <div id="full_prog_bar">
                    <div id="prog_bar"></div>
                </div>
            </div>
            <p id="end_time">0:00</p>
        </div>

        <div id="vol_control">
            <img src="/vol.png" alt="" id="vol_icon">

            <div id="vol_for_hover">
                <div id="full_vol_bar">
                    <div id="vol_bar"></div>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/js/variables.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/ajax_req.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/api_request.js"></script>
    <script src="/js/playback.js"></script>
    <script src="/js/timer.js"></script>
    <script src="/js/side.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/lib.js"></script>
</body>

</html>